<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpmg.kdb.web.poledger.PoledgerDao">
    <select id="retrievePoledger" parameterType="com.kpmg.kdb.web.poledger.dto.PoLedgerRequestDto" resultType="HashMap">
       SELECT *
       FROM (
	       SELECT PL.WAREHOUSING_NO
		       , PL.ORDER_NO
		       , V.VENDOR_CODE
		       , V.VENDOR_NAME
		       , IM.ITEM_CODE
		       , IM.ITEM_NAME
		       , PL.WAREHOUSING_DATE
		       , PL.WAREHOUSING_AMOUNT
		       , PL.WAREHOUSING_QTY
		       , PL.UNIT_PRICE
		       , PL.WAREHOUSING_TYPE
		       , GET_CODE_NAME(PL.WAREHOUSING_TYPE, 'WT', PL.COMPANY_CODE, #{default_language}) AS  WAREHOUSING_TYPE_NAME
		       , COALESCE(COO_CERTIFY_YN, 'N') AS COO_CERTIFY_YN
		       , DV.DIVISION_NAME
		       , DV.DIVISION_CODE
		       , V.MAIL_SEND_YN
	       FROM PO_LEDGER PL
	       INNER JOIN DIVISION DV
	       		ON PL.DIVISION_CODE = DV.DIVISION_CODE
				AND PL.COMPANY_CODE = DV.COMPANY_CODE
				AND DV.STATUS = 'Y'
			INNER JOIN VENDOR V
				ON V.VENDOR_CODE = PL.VENDOR_CODE
			    AND V.COMPANY_CODE = PL.COMPANY_CODE
			INNER JOIN ITEM_MST IM
				ON IM.ITEM_CODE = PL.ITEM_CODE
				AND IM.COMPANY_CODE = PL.COMPANY_CODE
			LEFT JOIN LATERAL (
				SELECT 'Y' AS COO_CERTIFY_YN
				FROM EXT_COO_CERTIFY_MST ECM
				WHERE ECM.COO_CERTIFY_NO = PL.COO_CERTIFY_NO
				AND ECM.VENDOR_CODE = PL.VENDOR_CODE
				AND ECM.DIVISION_CODE = PL.DIVISION_CODE
				AND ECM.COMPANY_CODE = PL.COMPANY_CODE
				LIMIT 1
			)
			ON 1=1
			WHERE PL.COMPANY_CODE = #{company_code}			
		)
		WHERE 1=1
		<if test="from_date != null and from_date != ''">
				<if test="to_date != null and to_date != ''">
				AND WAREHOUSING_DATE BETWEEN #{from_date} AND #{to_date}
				</if>
		</if>	
		<if test="item != null">
				AND (ITEM_CODE ILIKE '%' || #{item} || '%' OR ITEM_NAME ILIKE '%' || #{item} || '%' )
		</if>
		<if test="coo_certify_yn != null">
				AND COO_CERTIFY_YN = #{coo_certify_yn}
		</if>
		<if test="division_code != null">
				AND DIVISION_CODE = #{division_code}
		</if>
		<if test="warehousing_type != null">
				AND WAREHOUSING_TYPE = #{warehousing_type}
		</if>
		<if test="mail_send_yn != null">
				AND MAIL_SEND_YN = #{mail_send_yn}
		</if>
    </select>
</mapper>