<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpmg.kdb.web.materialinv.MaterialInvDao">
    <select id="retrieveMaterialInv" parameterType="HashMap" resultType="HashMap">
       SELECT *
       FROM (
               SELECT ML.YYYYMM
                     ,DI.DIVISION_CODE
                     ,DI.DIVISION_NAME
                     ,IM.ITEM_CODE
                     ,IM.ITEM_NAME
                     ,IM.UNIT
                     ,ML.AGING_PERIOD
                     ,ML.INITIAL_QTY 			-- 기초수량
                     ,ML.INITIAL_AMOUNT 		-- 기초금액
                     ,ML.INPUT_QTY				-- 입고수량
                     ,ML.INPUT_AMOUNT			-- 입고금액
                     ,ML.EXTRA_INPUT_QTY		-- 기타입고수량
                     ,ML.EXTRA_INPUT_AMOUNT		-- 기타입고 금액
                     ,ML.ISSUE_QTY				-- 출고수량
                     ,ML.ISSUE_AMOUNT			-- 출고금액
                     ,ML.EXTRA_ISSUE_QTY		-- 기타출고
                     ,ML.EXTRA_ISSUE_AMOUNT		-- 기타출고 수량
                     ,ML.INVENTORY_QTY			-- 재고수량
                     ,ML.INVENTORY_AMOUNT		-- 재고금액
                 FROM MATERIAL_INV_BAL ML
                INNER JOIN ITEM_MST IM
                   ON IM.ITEM_CODE = ML.ITEM_CODE
                  AND IM.COMPANY_CODE = ML.COMPANY_CODE
                INNER JOIN DIVISION DI
                   ON DI.DIVISION_CODE = ML.DIVISION_CODE
                  AND DI.COMPANY_CODE = ML.COMPANY_CODE
                INNER JOIN ITEM_DTL ID
                   ON ID.ITEM_CODE = ML.ITEM_CODE
                  AND ID.DELETE_YN = 'N'
                  AND ID.DIVISION_CODE = ML.DIVISION_CODE
			WHERE ML.COMPANY_CODE = #{company_code}			
		)
		WHERE 1=1
		<if test="from_date != null">
				<if test="to_date != null and to_date != ''">
				AND YYYYMM BETWEEN #{from_date} AND #{to_date}
				</if>
		</if>	
		<if test="item != null">
				AND (ITEM_CODE ILIKE '%' || #{item} || '%' OR ITEM_NAME ILIKE '%' || #{item} || '%' )
		</if>
		<if test="division_code != null">
				AND DIVISION_CODE = #{division_code}
		</if>
    </select>
</mapper>