<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpmg.kdb.web.origindeterminationengine.ExclusionRuleDao">

	<select id="selectExclusionRuleHeaders" resultType="com.kpmg.kdb.web.origindeterminationengine.dto.ExclusionRuleHeader">
		SELECT DISTINCT CAST(EXCLUSION_TYPE AS DECIMAL) AS exclusionType
		               ,JOIN_CONDITION AS joinCondition
		               ,EXCLUSION_RATE AS exclusionRate
		FROM   FTA_EXCLUSION_RULE
		WHERE  FTA_CODE = #{ftaCode}
		AND    HS_CODE = #{hsCode}
		AND    HS_CODE_SUB_CATEGORY = #{hsCodeSubCategory}
		AND    RULE_SEQ = #{ruleSeq}
		ORDER  BY CAST(EXCLUSION_TYPE AS DECIMAL)
	</select>

	<select id="selectExclusionRuleDetails" resultType="com.kpmg.kdb.web.origindeterminationengine.dto.ExclusionRuleDetail">
		SELECT EXCLUSION_HS_CODE AS exclusionHsCode
		      ,EXCLUSION_RATE    AS exclusionRate
		FROM   FTA_EXCLUSION_RULE
		WHERE  EXCLUSION_TYPE = #{exclusionType}
		AND    FTA_CODE = #{ftaCode}
		AND    HS_CODE = #{hsCode}
		AND    HS_CODE_SUB_CATEGORY = #{hsCodeSubCategory}
		AND    RULE_SEQ = #{ruleSeq}
	</select>
</mapper>
