<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpmg.kdb.web.ts.cooConfirmationMgnt.CooConfirmationDao">

	<delete id="deleteExtCooCertifyFile" parameterType="map">
		DELETE FROM EXT_COO_CERTIFY_FILE
		WHERE COMPANY_CODE = #{COMPANY_CODE}
		  AND DIVISION_CODE = #{PARAM_DIVISION_CODE}
		  AND VENDOR_CODE = #{PARAM_VENDOR_CODE}
		  AND COO_CERTIFY_NO = #{COO_CERTIFY_NO}
		  AND FILE_SEQ = CAST(#{FILE_SEQ} AS SMALLINT)
	</delete>

	<!-- 수취확인서 내역 조회 -->
	<select id="retrieveCooConfirmationList" parameterType="map" resultType="map">
		WITH DTL_FILTER AS (
			SELECT DISTINCT COO_CERTIFY_NO,
							VENDOR_CODE,
							DIVISION_CODE,
							COMPANY_CODE
			FROM EXT_COO_CERTIFY_DTL
			WHERE COMPANY_CODE = #{COMPANY_CODE}

			<if test="coo_yn != null and coo_yn != ''">
				AND COO_YN = #{coo_yn}
			</if>

			<if test="itemCodes != null and itemCodes != ''">
				AND CAST(ITEM_CODE AS TEXT) = ANY(REGEXP_SPLIT_TO_ARRAY(#{itemCodes}, '\s*,\s*'))
			</if>
		),
		DTL_SUMMARY AS (
			SELECT COO_CERTIFY_NO,
				   VENDOR_CODE,
				   DIVISION_CODE,
				   COMPANY_CODE,
				   COUNT(DISTINCT ITEM_CODE) AS CNT,
				   MAX(APPLY_DATE) AS APPLY_DATE,
				   MAX(END_DATE) AS END_DATE,
				   CASE WHEN COUNT(*) FILTER (WHERE COO_YN = 'N') > 0 THEN 'N' ELSE 'Y' END AS COO_YN
			FROM EXT_COO_CERTIFY_DTL
			WHERE COMPANY_CODE = #{COMPANY_CODE}
			GROUP BY COO_CERTIFY_NO,
					 VENDOR_CODE,
					 DIVISION_CODE,
					 COMPANY_CODE
		),
		FILE_DATA AS (
			SELECT COMPANY_CODE,
				   COO_CERTIFY_NO,
				   VENDOR_CODE,
				   DIVISION_CODE,
				   FILE_NAME,
				   FILE_PATH,
				   ORIGIN_FILE_NAME,
				   FILE_SEQ,
				   FILE_CNT
			FROM (
				SELECT F.COMPANY_CODE,
					   F.COO_CERTIFY_NO,
					   F.VENDOR_CODE,
					   F.DIVISION_CODE,
					   F.FILE_NAME,
					   F.FILE_PATH,
					   F.ORIGIN_FILE_NAME,
					   F.FILE_SEQ,
					   COUNT(F.FILE_SEQ) OVER (
						   PARTITION BY F.COMPANY_CODE,
										F.COO_CERTIFY_NO,
										F.VENDOR_CODE,
										F.DIVISION_CODE
					   ) AS FILE_CNT,
					   ROW_NUMBER() OVER (
						   PARTITION BY F.COMPANY_CODE,
										F.COO_CERTIFY_NO,
										F.VENDOR_CODE,
										F.DIVISION_CODE
						   ORDER BY F.FILE_SEQ DESC
					   ) AS RN
				FROM EXT_COO_CERTIFY_FILE F
				WHERE F.COMPANY_CODE = #{COMPANY_CODE}

				<if test="plant != null and plant != ''">
					AND F.DIVISION_CODE = #{plant}
				</if>
			) A
			WHERE RN = 1
		)
		SELECT DI.DIVISION_NAME AS "DIVISION_NAME",
			   MST.VENDOR_CODE AS "VENDOR_CODE",
			   VE.VENDOR_NAME AS "VENDOR_NAME",
			   TO_CHAR(
				   TO_DATE(
					   NULLIF(CAST(MST.ISSUE_DATE AS TEXT), ''),
					   'YYYYMMDD'
				   ),
				   'YYYY-MM-DD'
			   ) AS "ISSUE_DATE",
			   MST.COO_CERTIFY_NO AS "COO_CERTIFY_NO",
			   MST.SUBMIT_STATUS AS "SUBMIT_STATUS",
			   SS.CODE_NAME AS "SUBMIT_STATUS_NAME",
			   MST.INPUT_TYPE AS "INPUT_TYPE",
			   IT.CODE_NAME AS "INPUT_TYPE_NAME",
			   COALESCE(DS.CNT, 0) AS "CNT",
			   MST.COO_CERTIFY_TYPE AS "COO_CERTIFY_TYPE",
			   CE.CODE_NAME AS "COO_CERTIFY_TYPE_NAME",
			   MST.COMPANY_CODE AS "COMPANY_CODE",
			   MST.DIVISION_CODE AS "DIVISION_CODE",
			   '' AS "WAREHOUSING_NO",
			   FD.FILE_PATH AS "FILE_PATH",
			   FD.ORIGIN_FILE_NAME AS "ORIGIN_FILE_NAME",
			   FD.FILE_NAME AS "FILE_NAME",
			   FD.FILE_SEQ AS "FILE_SEQ",
			   COALESCE(FD.FILE_CNT, 0) AS "FILE_CNT",
			   MST.SUBCON_YN AS "SUBCON_YN",
			   CASE
				   WHEN MST.SUBCON_YN = 'Y' AND MST.DIVISION_CODE = '2100' THEN MST.DIVISION_CODE
				   WHEN MST.SUBCON_YN = 'Y' AND MST.DIVISION_CODE = '1100' AND VE.VENDOR_CODE = 'SGG1' THEN '1200'
				   WHEN MST.SUBCON_YN = 'Y' AND MST.DIVISION_CODE = '1100' AND VE.VENDOR_CODE = 'DDWQ' THEN '1300'
				   ELSE ''
			   END AS "SUBCON_DIVISION"
		FROM EXT_COO_CERTIFY_MST MST
		INNER JOIN DIVISION DI
			ON DI.COMPANY_CODE = MST.COMPANY_CODE
		   AND DI.DIVISION_CODE = MST.DIVISION_CODE
		INNER JOIN VENDOR VE
			ON VE.COMPANY_CODE = MST.COMPANY_CODE
		   AND VE.VENDOR_CODE = MST.VENDOR_CODE
		INNER JOIN DTL_FILTER DF
			ON DF.COMPANY_CODE = MST.COMPANY_CODE
		   AND DF.DIVISION_CODE = MST.DIVISION_CODE
		   AND DF.VENDOR_CODE = MST.VENDOR_CODE
		   AND DF.COO_CERTIFY_NO = MST.COO_CERTIFY_NO
		INNER JOIN DTL_SUMMARY DS
			ON DS.COMPANY_CODE = MST.COMPANY_CODE
		   AND DS.DIVISION_CODE = MST.DIVISION_CODE
		   AND DS.VENDOR_CODE = MST.VENDOR_CODE
		   AND DS.COO_CERTIFY_NO = MST.COO_CERTIFY_NO
		LEFT JOIN FILE_DATA FD
			ON FD.COMPANY_CODE = MST.COMPANY_CODE
		   AND FD.DIVISION_CODE = MST.DIVISION_CODE
		   AND FD.VENDOR_CODE = MST.VENDOR_CODE
		   AND FD.COO_CERTIFY_NO = MST.COO_CERTIFY_NO
		LEFT JOIN CODE_DTL SS
			ON SS.COMPANY_CODE = MST.COMPANY_CODE
		   AND SS.CATEGORY = 'SS'
		   AND CAST(SS.CODE AS TEXT) = CAST(MST.SUBMIT_STATUS AS TEXT)
		   AND SS.DELETE_YN = 'N'
		LEFT JOIN CODE_DTL IT
			ON IT.COMPANY_CODE = MST.COMPANY_CODE
		   AND IT.CATEGORY = 'IT'
		   AND CAST(IT.CODE AS TEXT) = CAST(MST.INPUT_TYPE AS TEXT)
		   AND IT.DELETE_YN = 'N'
		LEFT JOIN CODE_DTL CE
			ON CE.COMPANY_CODE = MST.COMPANY_CODE
		   AND CE.CATEGORY = 'CE'
		   AND CAST(CE.CODE AS TEXT) = CAST(MST.COO_CERTIFY_TYPE AS TEXT)
		   AND CE.DELETE_YN = 'N'
		WHERE MST.COMPANY_CODE = #{COMPANY_CODE}
		  AND COALESCE(MST.DELETE_YN, 'N') = 'N'
		  AND (
				MST.COO_CERTIFY_TYPE = 'N'
				OR (
					MST.COO_CERTIFY_TYPE = 'C'
					AND DS.APPLY_DATE &lt;= DS.END_DATE
				)
		  )

		<if test="plant != null and plant != ''">
			AND MST.DIVISION_CODE = #{plant}
		</if>

		<if test="confirm_type != null and confirm_type != ''">
			AND MST.COO_CERTIFY_TYPE = #{confirm_type}
		</if>

		<if test="submit_status != null and submit_status != ''">
			AND CAST(MST.SUBMIT_STATUS AS TEXT) = CAST(#{submit_status} AS TEXT)
		</if>

		<if test="search_from_date != null and search_from_date != '' and search_to_date != null and search_to_date != ''">
			AND (
				(
					MST.COO_CERTIFY_TYPE = 'C'
					AND GREATEST(#{search_from_date}, MST.APPLY_DATE) &lt;= LEAST(#{search_to_date}, MST.END_DATE)
				)
				OR
				(
					MST.COO_CERTIFY_TYPE = 'N'
					AND MST.ISSUE_DATE BETWEEN #{search_from_date} AND #{search_to_date}
				)
			)
		</if>

		<if test="search_key_word != null and search_key_word != ''">
			<choose>
				<when test="search_type == 'VENDOR'">
					AND (
						CAST(VE.VENDOR_CODE AS TEXT) ILIKE '%' || #{search_key_word} || '%'
						OR VE.VENDOR_NAME ILIKE '%' || #{search_key_word} || '%'
					)
				</when>
				<when test="search_type == 'CCNO'">
					AND CAST(MST.COO_CERTIFY_NO AS TEXT) ILIKE '%' || #{search_key_word} || '%'
				</when>
			</choose>
		</if>

		ORDER BY MST.DIVISION_CODE,
				 VE.VENDOR_NAME,
				 MST.COO_CERTIFY_NO
	</select>

	<!-- 상세 팝업 조회 -->
	<select id="retrieveCooConfirmationListPopup" parameterType="map" resultType="map">
		SELECT ECM.COO_CERTIFY_NO AS "COO_CERTIFY_NO",
			   ECM.COO_CERTIFY_TYPE AS "COO_CERTIFY_TYPE",
			   ECM.INPUT_TYPE AS "INPUT_TYPE",
			   ECM.SUBMIT_STATUS AS "SUBMIT_STATUS",
			   TO_CHAR(TO_DATE(NULLIF(CAST(ECM.ISSUE_DATE AS TEXT), ''), 'YYYYMMDD'), 'YYYY-MM-DD') AS "ISSUE_DATE",
			   TO_CHAR(TO_DATE(NULLIF(CAST(ECD.APPLY_DATE AS TEXT), ''), 'YYYYMMDD'), 'YYYY-MM-DD') AS "APPLY_DATE",
			   TO_CHAR(TO_DATE(NULLIF(CAST(ECD.END_DATE AS TEXT), ''), 'YYYYMMDD'), 'YYYY-MM-DD') AS "END_DATE",
			   CASE WHEN ECD.APPLY_DATE IS NOT NULL AND ECD.END_DATE IS NOT NULL THEN TO_CHAR(TO_DATE(CAST(ECD.APPLY_DATE AS TEXT), 'YYYYMMDD'), 'YYYY-MM-DD') || ' ~ ' || TO_CHAR(TO_DATE(CAST(ECD.END_DATE AS TEXT), 'YYYYMMDD'), 'YYYY-MM-DD') ELSE '' END AS "COVER_DATE",
			   ECD.ITEM_CODE AS "ITEM_CODE",
			   IM.ITEM_NAME AS "ITEM_NAME",
			   COALESCE(IM.ITEM_NAME, '') || CASE WHEN NULLIF(BTRIM(IM.SPEC), '') IS NULL THEN '' ELSE '-' || IM.SPEC END AS "ITEM_SPEC",
			   ECD.HS_CODE AS "HS_CODE",
			   ECD.FTA_CODE AS "FTA_CODE",
			   FM.FTA_NAME AS "FTA_NAME",
			   ECD.COO_YN AS "COO_YN",
			   CASE WHEN ECD.COO_YN = 'Y' THEN '충족' WHEN ECD.COO_YN = 'N' THEN '불충족' ELSE '' END AS "COO_YN_NM",
			   ECD.RULE_CODE AS "RULE_CODE",
			   ECD.RVC_RATE AS "RVC_RATE",
			   ECD.COO_NATION AS "COO_NATION",
			   NC.CODE_NAME AS "COO_NATION_NM",
			   ECD.WAREHOUSING_NO AS "WAREHOUSING_NO",
			   ECD.WAREHOUSING_SEQ AS "WAREHOUSING_SEQ",
			   CAST(ECD.COO_CERTIFY_NO AS TEXT) || '_' || CAST(ECD.ITEM_CODE AS TEXT) || '_' || CAST(ECD.FTA_CODE AS TEXT) AS "ROW_ID"
		FROM EXT_COO_CERTIFY_MST ECM
		INNER JOIN EXT_COO_CERTIFY_DTL ECD
			ON ECD.COMPANY_CODE = ECM.COMPANY_CODE
		   AND ECD.DIVISION_CODE = ECM.DIVISION_CODE
		   AND ECD.VENDOR_CODE = ECM.VENDOR_CODE
		   AND ECD.COO_CERTIFY_NO = ECM.COO_CERTIFY_NO
		INNER JOIN ITEM_MST IM
			ON IM.COMPANY_CODE = ECD.COMPANY_CODE
		   AND IM.ITEM_CODE = ECD.ITEM_CODE
		LEFT JOIN (
			SELECT DISTINCT FTA_CODE, FTA_NAME
			FROM FTA_MASTER
			WHERE DELETE_YN = 'N'
		) FM ON FM.FTA_CODE = ECD.FTA_CODE
		LEFT JOIN CODE_DTL NC
			ON NC.COMPANY_CODE = ECD.COMPANY_CODE
		   AND NC.CATEGORY = 'ON'
		   AND NC.CODE = ECD.COO_NATION
		   AND NC.DELETE_YN = 'N'
		WHERE ECM.COMPANY_CODE = #{COMPANY_CODE}
		  AND ECM.DIVISION_CODE = #{PARAM_DIVISION_CODE}
		  AND ECM.VENDOR_CODE = #{PARAM_VENDOR_CODE}
		  AND ECM.COO_CERTIFY_NO = #{COO_CERTIFY_NO}

		<if test="COO_CERTIFY_TYPE != null and COO_CERTIFY_TYPE != ''">
			AND ECM.COO_CERTIFY_TYPE = #{COO_CERTIFY_TYPE}
		</if>

		ORDER BY ECD.ITEM_CODE, ECD.HS_CODE, ECD.FTA_CODE
	</select>

	<select id="retrieveCooConfirmationListRule" parameterType="map" resultType="map">
		WITH PARAMS AS (
			SELECT CASE
				WHEN NULLIF(BTRIM(CAST(#{hsCodes,jdbcType=VARCHAR} AS TEXT)), '') IS NULL THEN NULL
				ELSE REGEXP_SPLIT_TO_ARRAY(BTRIM(CAST(#{hsCodes,jdbcType=VARCHAR} AS TEXT)), '[[:space:]]*,[[:space:]]*')
			END AS HS_CODE_ARRAY
		)
		SELECT FR.FTA_CODE AS "FTA_CODE",
			   HC.HS_CODE AS "HS_CODE",
			   FR.RULE_CONTENTS AS "COMP_RULE",
			   CASE
				   WHEN FR.BD_RULE IS NOT NULL THEN FR.BD_RULE
				   WHEN FR.BU_RULE IS NOT NULL THEN FR.BU_RULE
				   WHEN FR.NC_RULE IS NOT NULL THEN FR.NC_RULE
				   WHEN FR.MC_RULE IS NOT NULL THEN FR.MC_RULE
			   END AS "RVC_RATE"
		FROM FTA_RULE FR
		CROSS JOIN PARAMS P
		INNER JOIN HS_CODE HC ON FR.HS_CODE = SUBSTR(HC.HS_CODE, 1, LENGTH(FR.HS_CODE))
		WHERE CAST(HC.HS_CODE AS TEXT) = ANY(P.HS_CODE_ARRAY)
		  AND FR.HS_CODE_SUB_CATEGORY = '1'
		ORDER BY HC.HS_CODE, FR.FTA_CODE, FR.RULE_SEQ, FR.CTH_RULE
	</select>

	<select id="checkCooConfirmationListDuplicate" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM EXT_COO_CERTIFY_MST
		WHERE COMPANY_CODE = #{COMPANY_CODE}
		  AND DIVISION_CODE = #{PARAM_DIVISION_CODE}
		  AND VENDOR_CODE = #{PARAM_VENDOR_CODE}
		  AND COO_CERTIFY_NO = #{COO_CERTIFY_NO}
	</select>

	<select id="selectCooCertifyNoGet" parameterType="map" resultType="string">
	SELECT #{PARAM_VENDOR_CODE}
		   || '-'
		   || TO_CHAR(CURRENT_DATE, 'YYYYMMDD')
		   || '-'
		   || COALESCE(
				MAX(
					CAST(
						SUBSTRING(
							REPLACE(COO_CERTIFY_NO, VENDOR_CODE, '')
							FROM 11
						) AS INTEGER
					)
				) + 1,
				1
			  )
	FROM EXT_COO_CERTIFY_MST
	WHERE COMPANY_CODE = #{COMPANY_CODE}
	  AND DIVISION_CODE = #{PARAM_DIVISION_CODE}
	  AND VENDOR_CODE = #{PARAM_VENDOR_CODE}
	  AND SUBSTRING(REPLACE(COO_CERTIFY_NO, VENDOR_CODE, '') FROM 11) !~ '[A-Za-z]'
</select>

	<insert id="insertExtCooCertifyMst" parameterType="map">
		INSERT INTO EXT_COO_CERTIFY_MST (
			 COO_CERTIFY_NO
			,VENDOR_CODE
			,DIVISION_CODE
			,COMPANY_CODE
			,COO_CERTIFY_TYPE
			,ISSUE_DATE
			,APPLY_DATE
			,END_DATE
			,SUBMIT_STATUS
			,SUBMIT_TYPE
			,INPUT_TYPE
			,FILE_PATH
			,FILE_NAME
			,ORIGIN_FILE_NAME
			,CREATE_DATE
			,CREATE_BY
			,UPDATE_DATE
			,UPDATE_BY
			,VENDOR_INCHARGE_NAME
			,VENDOR_INCHARGE_TEL_NO
			,VENDOR_INCHARGE_EMAIL
			,DELETE_YN
			,AUTO_COO_YN
			,DOCUMENT_TYPE
			,APPLY_TYPE
		)
		VALUES (
			 #{COO_CERTIFY_NO}
			,#{PARAM_VENDOR_CODE}
			,#{PARAM_DIVISION_CODE}
			,#{COMPANY_CODE}
			,#{COO_CERTIFY_TYPE}
			,#{ISSUE_DATE}
			,#{APPLY_DATE}
			,#{END_DATE}
			,#{SUBMIT_STATUS}
			,#{SUBMIT_TYPE}
			,#{INPUT_TYPE}
			,#{FILE_PATH}
			,#{FILE_NAME}
			,#{ORIGIN_FILE_NAME}
			,CURRENT_TIMESTAMP
			,#{USER_ID}
			,CURRENT_TIMESTAMP
			,#{USER_ID}
			,#{VENDOR_INCHARGE_NAME}
			,#{VENDOR_INCHARGE_TEL_NO}
			,#{VENDOR_INCHARGE_EMAIL}
			,'N'
			,COALESCE(#{AUTO_COO_YN}, 'N')
			,#{DOCUMENT_TYPE}
			,#{APPLY_TYPE}
		)
	</insert>

	<!-- 기존 포괄 확인서 기간 종료 처리 -->
	<update id="updateExtCooCertifyDtl" parameterType="map">
		UPDATE EXT_COO_CERTIFY_DTL
		SET END_DATE = TO_CHAR(TO_DATE(#{APPLY_DATE}, 'YYYYMMDD') - INTERVAL '1 day', 'YYYYMMDD'),
			UPDATE_DATE = CURRENT_TIMESTAMP,
			UPDATE_BY = #{USER_ID}
		WHERE COMPANY_CODE = #{COMPANY_CODE}
		  AND DIVISION_CODE = #{PARAM_DIVISION_CODE}
		  AND VENDOR_CODE = #{PARAM_VENDOR_CODE}
		  AND COO_CERTIFY_NO != #{COO_CERTIFY_NO}
		  AND ITEM_CODE = #{ITEM_CODE}
		  AND FTA_CODE = #{FTA_CODE}
		  AND #{APPLY_DATE} BETWEEN APPLY_DATE AND END_DATE
		  AND WAREHOUSING_NO = '-1'
		  AND WAREHOUSING_SEQ = '-1'
	</update>

	<insert id="insertExtCooCertifyDtl" parameterType="map">
		INSERT INTO EXT_COO_CERTIFY_DTL (
			 COO_CERTIFY_NO
			,VENDOR_CODE
			,DIVISION_CODE
			,COMPANY_CODE
			,ITEM_CODE
			,FTA_CODE
			,WAREHOUSING_NO
			,WAREHOUSING_SEQ
			,COO_YN
			,HS_CODE
			,RULE_CODE
			,RVC_RATE
			,COO_NATION
			,ISSUE_DATE
			,APPLY_DATE
			,END_DATE
			,CREATE_DATE
			,CREATE_BY
			,UPDATE_DATE
			,UPDATE_BY
		)
		VALUES (
			 #{COO_CERTIFY_NO}
			,#{PARAM_VENDOR_CODE}
			,#{PARAM_DIVISION_CODE}
			,#{COMPANY_CODE}
			,#{ITEM_CODE}
			,#{FTA_CODE}
			,<choose>
				<when test='COO_CERTIFY_TYPE == "C"'> '-1' </when>
				<otherwise>#{WAREHOUSING_NO}</otherwise>
			</choose>
			,<choose>
				<when test='COO_CERTIFY_TYPE == "C"'> '-1' </when>
				<otherwise>#{WAREHOUSING_SEQ}</otherwise>
			</choose>
			,#{COO_YN}
			,#{HS_CODE}
			,#{RULE_CODE}
			,CAST(NULLIF(REPLACE(CAST(#{RVC_RATE} AS TEXT), '%', ''), '') AS NUMERIC)
			,#{COO_NATION}
			,#{ISSUE_DATE}
			,#{APPLY_DATE}
			,#{END_DATE}
			,CURRENT_TIMESTAMP
			,#{USER_ID}
			,CURRENT_TIMESTAMP
			,#{USER_ID}
		)
	</insert>

	<update id="updatePoLedger" parameterType="map">
		<choose>
			<when test='COO_CERTIFY_TYPE == "C"'>
				UPDATE PO_LEDGER
				SET COO_TYPE = #{COO_CERTIFY_TYPE},
					COO_CERTIFY_NO = #{COO_CERTIFY_NO},
					UPDATE_DATE = CURRENT_TIMESTAMP,
					UPDATE_BY = #{USER_ID}
				WHERE COMPANY_CODE = #{COMPANY_CODE}
				  AND VENDOR_CODE = #{PARAM_VENDOR_CODE}
				  AND ITEM_CODE = #{ITEM_CODE}
				  AND COALESCE(COO_TYPE, 'C') NOT IN ('N')
				  AND WAREHOUSING_DATE BETWEEN #{APPLY_DATE} AND #{END_DATE}
			</when>

			<otherwise>
				UPDATE PO_LEDGER PL
				SET COO_TYPE = #{COO_CERTIFY_TYPE},
					COO_CERTIFY_NO = #{COO_CERTIFY_NO},
					UPDATE_DATE = CURRENT_TIMESTAMP,
					UPDATE_BY = #{USER_ID}
				WHERE EXISTS (
					SELECT 1
					FROM EXT_COO_CERTIFY_MST CCM
					INNER JOIN EXT_COO_CERTIFY_DTL CCD
						ON CCD.COO_CERTIFY_NO = CCM.COO_CERTIFY_NO
					   AND CCD.VENDOR_CODE = CCM.VENDOR_CODE
					   AND CCD.DIVISION_CODE = CCM.DIVISION_CODE
					   AND CCD.COMPANY_CODE = CCM.COMPANY_CODE
					WHERE PL.COMPANY_CODE = CCD.COMPANY_CODE
					  AND CAST(PL.WAREHOUSING_NO AS TEXT) = CAST(CCD.WAREHOUSING_NO AS TEXT)
					  AND CAST(PL.SEQ AS TEXT) = CAST(CCD.WAREHOUSING_SEQ AS TEXT)
					  AND PL.DIVISION_CODE = CCD.DIVISION_CODE
					  AND PL.VENDOR_CODE = CCM.VENDOR_CODE
					  AND PL.ITEM_CODE = CCD.ITEM_CODE
					  AND CCM.COO_CERTIFY_NO = #{COO_CERTIFY_NO}
					  AND CCM.VENDOR_CODE = #{PARAM_VENDOR_CODE}
					  AND CCM.COMPANY_CODE = #{COMPANY_CODE}
					  AND CCM.DIVISION_CODE = #{PARAM_DIVISION_CODE}
				)
			</otherwise>
		</choose>
	</update>

	<insert id="insertExtCooCertifyMstFile" parameterType="map">
		INSERT INTO EXT_COO_CERTIFY_FILE (
			 COO_CERTIFY_NO
			,VENDOR_CODE
			,DIVISION_CODE
			,COMPANY_CODE
			,FILE_SEQ
			,FILE_NAME
			,FILE_PATH
			,ORIGIN_FILE_NAME
			,CREATE_DATE
			,CREATE_BY
			,UPDATE_DATE
			,UPDATE_BY
			,EXT_COO_FILE
		)
		VALUES (
			 #{COO_CERTIFY_NO}
			,#{VENDOR_CODE}
			,#{PARAM_DIVISION_CODE}
			,#{COMPANY_CODE}
			,(
				SELECT COALESCE(MAX(FILE_SEQ), 0) + 1
				FROM EXT_COO_CERTIFY_FILE
				WHERE COO_CERTIFY_NO = #{COO_CERTIFY_NO}
				  AND VENDOR_CODE = #{VENDOR_CODE}
				  AND COMPANY_CODE = #{COMPANY_CODE}
			)
			,#{FILE_NAME}
			,#{FILE_PATH}
			,#{ORIGIN_FILE_NAME}
			,CURRENT_TIMESTAMP
			,#{CREATE_BY}
			,CURRENT_TIMESTAMP
			,#{UPDATE_BY}
			,#{EXT_COO_FILE,jdbcType=BINARY}
		)
	</insert>

	<select id="selectExtCooCertifyFileList" parameterType="map" resultType="map">
		SELECT FILE_NAME AS "FILE_NAME",
			   FILE_PATH AS "FILE_PATH",
			   ORIGIN_FILE_NAME AS "ORIGIN_FILE_NAME",
			   FILE_SEQ AS "FILE_SEQ"
		FROM EXT_COO_CERTIFY_FILE
		WHERE COMPANY_CODE = #{COMPANY_CODE}
		  AND DIVISION_CODE = #{PARAM_DIVISION_CODE}
		  AND VENDOR_CODE = #{PARAM_VENDOR_CODE}
		  AND COO_CERTIFY_NO = #{COO_CERTIFY_NO}
		ORDER BY FILE_SEQ
	</select>

	<select id="retrieveCooConfirmationListNationCode" parameterType="map" resultType="map">
		SELECT CODE AS "CODE",
			   CODE_NAME AS "CODE_NAME"
		FROM CODE_DTL
		WHERE CATEGORY = 'ON'
		  AND COMPANY_CODE = #{COMPANY_CODE}
		ORDER BY SORT_NO
	</select>

	<select id="extCooCertifyFileDownLoad" parameterType="map" resultType="map">
		SELECT FILE_NAME AS "FILE_NAME",
			   FILE_PATH AS "FILE_PATH",
			   ORIGIN_FILE_NAME AS "ORIGIN_FILE_NAME",
			   FILE_SEQ AS "FILE_SEQ",
			   EXT_COO_FILE AS "EXT_COO_FILE"
		FROM EXT_COO_CERTIFY_FILE
		WHERE FILE_SEQ = CAST(#{FILE_SEQ} AS SMALLINT)
		  AND COMPANY_CODE = #{COMPANY_CODE}
		  AND DIVISION_CODE = #{PARAM_DIVISION_CODE}
		  AND VENDOR_CODE = #{PARAM_VENDOR_CODE}
		  AND COO_CERTIFY_NO = #{COO_CERTIFY_NO}
	</select>

	<select id="selectBeforeDtlData" parameterType="map" resultType="map">
		SELECT COO_CERTIFY_NO AS "COO_CERTIFY_NO",
			   APPLY_DATE AS "APPLY_DATE",
			   END_DATE AS "END_DATE",
			   ITEM_CODE AS "ITEM_CODE"
		FROM EXT_COO_CERTIFY_DTL
		WHERE #{END_DATE} &gt;= APPLY_DATE
		  AND #{END_DATE} &lt; END_DATE
		  AND #{APPLY_DATE} &lt;= #{END_DATE}
		  AND COMPANY_CODE = #{COMPANY_CODE}
		  AND DIVISION_CODE = #{PARAM_DIVISION_CODE}
		  AND VENDOR_CODE = #{PARAM_VENDOR_CODE}
		  AND WAREHOUSING_NO = '-1'
		  AND WAREHOUSING_SEQ = '-1'

		<if test="BEFORE_COO_CERTIFY_NO != null and BEFORE_COO_CERTIFY_NO != ''">
			AND COO_CERTIFY_NO != #{BEFORE_COO_CERTIFY_NO}
		</if>

		<if test="itemCodes != null and itemCodes.size() > 0">
			AND ITEM_CODE IN
			<foreach collection="itemCodes" item="itemCode" open="(" separator="," close=")">
				#{itemCode}
			</foreach>
		</if>

		GROUP BY COO_CERTIFY_NO, APPLY_DATE, END_DATE, ITEM_CODE
	</select>

	<insert id="copyExtCooCertifyFiles" parameterType="map">
		INSERT INTO EXT_COO_CERTIFY_FILE (
			 COO_CERTIFY_NO
			,VENDOR_CODE
			,DIVISION_CODE
			,COMPANY_CODE
			,FILE_SEQ
			,FILE_NAME
			,FILE_PATH
			,ORIGIN_FILE_NAME
			,CREATE_DATE
			,CREATE_BY
			,UPDATE_DATE
			,UPDATE_BY
			,EXT_COO_FILE
		)
		SELECT #{COO_CERTIFY_NO},
			   VENDOR_CODE,
			   DIVISION_CODE,
			   COMPANY_CODE,
			   FILE_SEQ,
			   FILE_NAME,
			   FILE_PATH,
			   ORIGIN_FILE_NAME,
			   CURRENT_TIMESTAMP,
			   #{USER_ID},
			   CURRENT_TIMESTAMP,
			   #{USER_ID},
			   EXT_COO_FILE
		FROM EXT_COO_CERTIFY_FILE
		WHERE COMPANY_CODE = #{COMPANY_CODE}
		  AND DIVISION_CODE = #{PARAM_DIVISION_CODE}
		  AND VENDOR_CODE = #{PARAM_VENDOR_CODE}
		  AND COO_CERTIFY_NO = #{BEFORE_COO_CERTIFY_NO}
	</insert>

</mapper>