<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpmg.kdb.web.originbasis.HsCodeDao">
	<!--
		레거시 FS03_GET_HS_CODE 이관.
		- 우선순위 CASE WHEN 은 제거하고 각 소스별 HS코드를 그대로 반환한다 (우선순위 판정은 Java).
		- ROWNUM = 1 은 사용하지 않는다. 조인 결과가 둘 이상이어도 애플리케이션에서 첫 행만 사용해 동일하게 동작한다.
	-->
	<select id="selectHsCodeCandidates" parameterType="com.kpmg.kdb.web.originbasis.dto.HsCodeCriteria"
		resultType="com.kpmg.kdb.web.originbasis.dto.HsCodeCandidateRow">
		SELECT CM.CUSTOMER_HS_CODE  AS customerHsCode
		      ,FAHC.FTA_AGM_HS_CODE AS ftaAgmHsCode
		      ,FHC.FTA_HS_CODE      AS ftaHsCode
		      ,HIS.HS_CODE          AS historyHsCode
		      ,IM.HS_CODE           AS itemHsCode
		FROM   ITEM_MST IM
		LEFT   OUTER JOIN CUSTOMER_MODEL CM
		ON     CM.COMPANY_CODE = IM.COMPANY_CODE
		AND    CM.ITEM_CODE = IM.ITEM_CODE
		AND    CM.DIVISION_CODE = #{divisionCode}
		AND    CM.CUSTOMER_CODE = #{customerCode}
		LEFT   OUTER JOIN FTA_AGM_HS_CODE FAHC
		ON     FAHC.COMPANY_CODE = IM.COMPANY_CODE
		AND    FAHC.ITEM_CODE = IM.ITEM_CODE
		AND    FAHC.FTA_CODE = #{ftaCode}
		LEFT   OUTER JOIN FTA_HS_CODE FHC
		ON     FHC.COMPANY_CODE = IM.COMPANY_CODE
		AND    IM.ITEM_CODE = FHC.ITEM_CODE
		AND    FHC.NATION_CODE = #{nationCode}
		LEFT   OUTER JOIN HISTORY_ITEM_HS_CODE HIS
		ON     HIS.ITEM_CODE = #{itemCode}
		AND    HIS.COMPANY_CODE = #{companyCode}
		AND    #{resolvedBaseDate} BETWEEN HIS.FROM_DATE AND COALESCE(HIS.TO_DATE, '99991231')
		WHERE  IM.ITEM_CODE = #{itemCode}
		AND    IM.COMPANY_CODE = #{companyCode}
	</select>
</mapper>
