<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpmg.kdb.web.ftabom.FtaBomDao">
    <select id="retrieveftaBomMaster" parameterType="HashMap" resultType="HashMap">
       SELECT *
       FROM (
	       SELECT FBM.YYYYMM
	       		, DV.DIVISION_CODE
				, DV.DIVISION_NAME
				, IM.ITEM_CODE 		AS PRODUCT_CODE
				, IM.ITEM_NAME 		AS PRODUCT_NAME
				, FBM.HS_CODE
	       FROM FTA_BOM_MST FBM
	       INNER JOIN DIVISION DV
	       		ON DV.DIVISION_CODE = FBM.DIVISION_CODE
				AND DV.COMPANY_CODE = FBM.COMPANY_CODE
				AND DV.STATUS = 'Y'
			INNER JOIN ITEM_MST IM
				ON IM.ITEM_CODE = FBM.PRODUCT_CODE
				AND IM.COMPANY_CODE = FBM.COMPANY_CODE
			WHERE FBM.COMPANY_CODE = #{company_code}			
		)
		WHERE 1=1
		<if test="from_date != null and from_date != ''">
				<if test="to_date != null and to_date != ''">
				AND YYYYMM BETWEEN #{from_date} AND #{to_date}
				</if>
		</if>	
		<if test="product != null">
				AND (PRODUCT_CODE ILIKE '%' || #{product} || '%' OR PRODUCT_NAME ILIKE '%' || #{product} || '%' )
		</if>
		<if test="division_code != null">
				AND DIVISION_CODE = #{division_code}
		</if>
		ORDER BY YYYYMM, DIVISION_CODE, PRODUCT_CODE
    </select>

    <select id="retrieveftaBomDetail" parameterType="HashMap" resultType="HashMap">
       SELECT *
       FROM (
	       SELECT FBD.YYYYMM
	       		, IM.ITEM_CODE 		
				, IM.ITEM_NAME 	
				, IM.UNIT	
				, FBD.HS_CODE
				, FBD.REQ_QTY
	       FROM FTA_BOM_DTL FBD
	       INNER JOIN DIVISION DV
	       		ON DV.DIVISION_CODE = FBD.DIVISION_CODE
				AND DV.COMPANY_CODE = FBD.COMPANY_CODE
				AND DV.STATUS = 'Y'
			INNER JOIN ITEM_MST IM
				ON IM.ITEM_CODE = FBD.ITEM_CODE
				AND IM.COMPANY_CODE = FBD.COMPANY_CODE
			WHERE FBD.COMPANY_CODE = #{company_code}	
			<if test="yyyymm != null">
					AND FBD.YYYYMM = #{yyyymm}
			</if>	
			<if test="product_code != null">
					AND FBD.PRODUCT_CODE = #{product_code}
			</if>	
			<if test="division_code != null">
					AND FBD.DIVISION_CODE = #{division_code}
			</if>	
		)
		WHERE 1=1
    </select>
    
    <select id="retrieveftaBomDetailVendor" parameterType="HashMap" resultType="HashMap">
    SELECT PL.*, V.VENDOR_NAME
    FROM (
	    SELECT PL.VENDOR_CODE
	    	, PL.COMPANY_CODE
	    	, MAX(PL.WAREHOUSING_DATE) AS LAST_WAREHOUSING_DATE
	    FROM PO_LEDGER PL
	    WHERE PL.COMPANY_CODE = #{company_code}	
	    <if test="item_code != null">
			AND PL.ITEM_CODE = #{item_code}
		</if>
		<if test="yyyymm != null">
			AND PL.WAREHOUSING_DATE BETWEEN to_char(TO_DATE(#{yyyymm}, 'YYYYMM') - INTERVAL '6 month', 'YYYYMM') AND #{yyyymm} 
		</if>
	    GROUP BY PL.COMPANY_CODE, PL.VENDOR_CODE
    ) PL 
     INNER JOIN VENDOR V
	    	ON PL.COMPANY_CODE = V.COMPANY_CODE
	    	AND PL.VENDOR_CODE = V.VENDOR_CODE
    </select>
</mapper>