<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpmg.kdb.web.common.CommonDao">
    
	<select id="retrieveComCdList" parameterType="HashMap" resultType="HashMap">
		<if test="OPTION_ALL == 'Y'.toString()">
		SELECT #{CATEGORY} AS CATEGORY
		     , '' CODE
		     , '선택' CODE_NAME
		     , 0 SORT_NO
		 UNION ALL
		</if>
		SELECT C.CATEGORY
		     , C.CODE
		     , C.CODE_NAME
		     , C.SORT_NO
		  FROM CODE_DTL C
		 WHERE C.CATEGORY = #{CATEGORY}
		   AND C.USING_YN = 'Y'
		   AND C.COMPANY_CODE = #{company_code}
      ORDER BY SORT_NO ASC
	</select>
	
	
	<select id="retrievePlantCombo" parameterType="HashMap" resultType="HashMap">
		<if test="OPTION_ALL == 'Y'.toString()">
		SELECT '' CODE
		       ,'선택' NAME
		       ,'000' SORT_NO
		 UNION ALL
		</if>
		SELECT C.DIVISION_CODE AS  CODE
		      ,C.DIVISION_NAME AS  NAME
		      ,DIVISION_CODE AS SORT_NO
		  FROM PLANT C
		 WHERE C.STATUS = 'Y'
		   AND C.COMPANY_CODE = #{COMPANY_CODE}
		ORDER  BY SORT_NO ASC
	</select>
	
	<select id="retrieveCodeCombo" parameterType="HashMap" resultType="HashMap">
		SELECT '' CODE
		       ,'전체' NAME
		       ,'000' SORT_NO
		 UNION ALL
		SELECT CD.CODE AS CODE
		      ,CASE #{default_language} WHEN 'KOR' THEN CD.CODE_NAME WHEN 'ENG' THEN CD.CODE_NAME_ENG ELSE CD.CODE_NAME_LOC END AS NAME
		      ,SORT_NO AS SORT_NO
		  FROM CODE_MST CM
		  	JOIN CODE_DTL CD
		  	ON CM.COMPANY_CODE = CD.COMPANY_CODE
			AND CM.CATEGORY = CD.CATEGORY
		 WHERE CD.DELETE_YN = 'N'
		   AND CM.COMPANY_CODE = #{company_code}
		   AND CM.CATEGORY = #{category}
		ORDER  BY SORT_NO ASC
	</select>
    
</mapper>
 
 